body {
  color: #243447;
  font-family: Georgia, serif;
}

h1 {
  font-family: "Times New Roman", serif;
}

h2 {
  font-family: Courier, monospace;
}

h3 {
  font-family: Arial, sans-serif;
}
